https://github.com/starkware-libs/cairo-lang/releases/download/v0.9.0/cairo-lang-0.9.0.zip
pytest==6.2.5
pytest-asyncio==0.15.1
lark==1.1.2
starknet-devnet==0.2.3
dill==0.3.4
werkzeug==2.0.3
amarna==0.1.2
